.color-body{
    height: 100vh;
    background-color: #f8f8f8;
}
.font{
    font-family: 'Almarai', sans-serif;
    font-family: 'Amiri', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.rectangle{
    height: 600px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow:1px 4px 4px 1px rgba(85, 85, 85, .25) ;
}
.dates-count{
    color: #555555;
    font-weight: 600;
    margin-bottom: 20px;
}
.btn-style{
    width: 200px;
    border-radius: 8%;
    color: white;
    background-color: #224f61;
}
.img-avatar{
    height: 70px;
    width: 70px;
    border-radius:50%;
}
.mt-0{
    margin-top: 0;
}